<h1><%= @restaurant.name %></h1>
  <p>
    <span><%= @restaurant.street %></span><br>
    <span><%= @restaurant.city %>, </span>
    <span><%= @restaurant.state %></span>  
    <span><%= @restaurant.postal_code %></span><br>
    <span><%= @restaurant.country %></span>
  </p>