<%= link_to "Return to restaurants list", restaurants_path %>

<% if @restaurant %>

  <h1><%= @restaurant.name %></h1>
  <p>Street: <%= @restaurant.street %></p>
  <p>City: <%= @restaurant.city %></p>
  <p>State: <%= @restaurant.state %></p>
  <p>Country: <%= @restaurant.country %></p>
  <p>Postal Code: <%= @restaurant.postal_code %></p>

<% else %>

  <p>Restaurant not found</p>

<% end %>

<% if current_user %>
  <%= link_to "edit", edit_restaurant_path(@restaurant) %>
<% end %>