<!DOCTYPE html>
<html>
<head>
  <title>Lesson12Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
      <%= link_to 'Restaurant list', restaurants_path%> ||
      <%= link_to 'Neighborhood list', neighborhoods_path%> ||
      <%= link_to 'Category list', categories_path%> ||

      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %> ||
      <% else %>
        <%= link_to  'Log In', new_user_session_path%> ||
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>

    </nav>

    <% flash.each do |name, msg| %>
      <div class="<%= name %>">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>


</body>
</html>
